<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <title>Approval</title>
</head>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">생명보험 승인하기</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>보험 이름</th>
                            <th>결제 방법</th>
                            <th>납부 주기</th>
                            <th>보험 기간</th>
                            <th>보장액</th>
                            <th>기본 요율</th>
                            <th>나이 배당률</th>
                            <th>병력 배당률</th>
                            <th>약관</th>
                            <th>승인</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${not #lists.isEmpty( lifeList )}" th:each="row : ${lifeList}">
                            <td th:text="${row.insuranceName}"></td>
<!--                            <td th:text="${row.contractConditions.payMethod}"></td>-->
                            <td th:if="${row.contractConditions.payMethod.toString().equals('BankTransfer')}">계좌이체</td>
                            <td th:if="${row.contractConditions.payMethod.toString().equals('card')}">카드</td>
                            <td th:if="${row.contractConditions.payMethod.toString().equals('phonePay')}">휴대폰</td>
                            <td th:if="${row.contractConditions.payCycle.toString().equals('week')}">주납</td>
                            <td th:if="${row.contractConditions.payCycle.toString().equals('month')}">월납</td>
<!--                            <td th:text="${row.contractConditions.payCycle}"></td>-->
                            <td th:text="${row.contractConditions.period} + '년'"></td>
                            <td th:text="${row.guaranteeAmount} + '원'"></td>
                            <td th:text="${row.tariff}"></td>
                            <td th:text="${row.ageDividendRate}"></td>
                            <td th:text="${row.caseHistoryDividendRate}"></td>
                            <td th:text="${row.explanation}"></td>
                            <td align="center">
                                <button type="submit" class="btn-primary btn-sm btn-block" >승인</button>
                            </td>
                        <tr th:unless="${not #lists.isEmpty( lifeList )}">
                            <td colspan="7">조회된 결과가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</th:block>
</html>
