<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.InsuranceSystem.Mapper.DevelopmentMapper">
	<!-- __________________________________sql_Include__________________________________________ -->	
	<sql id="insurances">
		insuranceName
		, explanation
		, salesRate
		, insuranceType
	</sql>

	<sql id="fire">
		insuranceName, buildingClassRate, guaranteeAmount, tariff,
		payCount
	</sql>

	<sql id="life">
		insuranceName, ageDividendRate, caseHistoryDividendRate,
		guaranteeAmount, tariff, payCount
	</sql>

	<sql id="lossProportionality">
		insuranceName, limitRate, guaranteeAmount, tariff, payCount
	</sql>

	<sql id="contractcondition">
		insuranceName, payMethod, payCycle, period, payment
	</sql>
	
	<!-- __________________________________insert__________________________________________ -->	
	
	<insert id="insert_Insurance" parameterType="Insurance">
		insert into 
			insurances(<include refid="insurances"/>) 
		values
			(#{insuranceName}, #{explanation}, #{salesRate}, #{insuranceType});
	</insert>
		
	<insert id="insert_Contractconditions" parameterType="Insurance">
		insert into 
			contractconditions(<include refid="contractcondition"/>) 
		values
			(#{insuranceName}, #{payMethod}, #{payCycle}, #{period}, #{payment});	
	</insert>
	
	<insert id="insert_Life" parameterType="Life">
		insert into 
			life(<include refid="life"/>) 
		values
			(#{insuranceName}, #{ageDividendRate}, #{caseHistoryDividendRate}, #{guaranteeAmount}, #{tariff}, #{payCount});
	</insert>
	
	<insert id="insert_Fire" parameterType="Fire">
		insert into 
			fire(<include refid="fire"/>) 
		values
			(#{insuranceName}, #{buildingClassRate}, #{guaranteeAmount}, #{tariff}, #{payCount});
	</insert>
	
	<insert id="insert_Loss" parameterType="LossProportionality">
		insert into 
			lossProportionality(<include refid="lossProportionality"/>) 
		values
			(#{insuranceName}, #{limitRate}, #{guaranteeAmount}, #{tariff}, #{payCount});
	</insert>
	
	<!-- __________________________________select__________________________________________ -->
	<select id="select_Life" resultType="Life">
		select 
			insuranceID, insurances.insuranceName, explanation, salesRate, insuranceType, ageDividendRate, caseHistoryDividendRate, guaranteeAmount, tariff, payCount
		from 
			insurances, life 
		where 
			insuranceType = 'Life' and insurances.insuranceName = life.insuranceName;
	</select>
	
	<select id="select_Fire" resultType="Fire">
		select 
			insuranceID, insurances.insuranceName, explanation, salesRate, insuranceType, buildingClassRate, guaranteeAmount, tariff, payCount
		from 
			insurances, fire 
		where 
			insuranceType = 'Fire' and insurances.insuranceName = fire.insuranceName;
	</select>
	
	<select id="select_Loss"  resultType="LossProportionality">
		select 
			insuranceID, insurances.insuranceName, explanation, salesRate, insuranceType, limitRate, guaranteeAmount, tariff, payCount
		from 
			insurances, lossProportionality 
		where 
			insuranceType = 'LossProportionality' and insurances.insuranceName = lossProportionality.insuranceName;
	</select>
	
	<select id="select_Contractcondition" parameterType="Contractconditions" resultType="Contractconditions">
		select 
			insuranceName, payMethod, payCycle, period, payment
		from 
			contractconditions;
	</select>
	
	<!-- __________________________________delete__________________________________________ -->	
	
	<delete id="delete_Insurance" parameterType="Insurance">
		delete from 
			insurances 
		where 
			InsuranceID = #{insuranceID};
	</delete>
	
	<!-- __________________________________update__________________________________________ -->
	<update id="approve_Insurance" parameterType="Insurance">
		UPDATE 
			insurances
		SET
			state = 1
		WHERE
			InsuranceID = #{insuranceID};
	</update>
	
</mapper>