<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.InsuranceSystem.Mapper.SubInfoMapper">	
	
	<insert id="insert_subInfo" parameterType="AssociationCus">
		insert into 
			SubInfo (insuranceID, customerID) 
			values (
			#{insuranceID}
			, #{customerID});
	</insert>

	<select id="select_subInfo" resultType="AssociationCus">
		select 
			insuranceID
			, customerID 
		from 
			subinfo;
	</select>
</mapper>