<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통으로 쓰이는 script파일을넣는다.-->
<th:block th:fragment="scriptFragment">


    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!--  DataTable  -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Page level custom scripts -->
    <!--    <script th:src="@{/js/demo/chart-area-demo.js}"></script>-->
    <!--    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function(){

            // 라디오버튼 클릭시 이벤트 발생
            $("input:radio[name=hospitalization]").click(function(){

                if($("input[name=hospitalization]:checked").val() == "1"){
                    $("input:text[name=hospitalPlace]").attr("disabled",false);
                    $("input:text[name=hospitalPlace]").attr("required",true);
                    // radio 버튼의 value 값이 1이라면 활성화

                }else if($("input[name=hospitalization]:checked").val() == "0"){
                    $("input:text[name=hospitalPlace]").val("")
                    $("input:text[name=hospitalPlace]").attr("disabled",true);
                    $("input:text[name=hospitalPlace]").attr("required",false);

                    // radio 버튼의 value 값이 0이라면 비활성화
                }
            });
        });

        function approveIns(name) {

            if (confirm(name + "을 승인 하시겠습니까?")) {
                var uri = /*[[ @{/approval/approve} ]]*/;
                var html = "";

                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="name" value="'+name+'" />';
                html += '</form>';

                $("body").append(html);
                document.dataForm.submit();
            }
        }

        function deleteIns(name) {

            if (confirm(name + "을 삭제할까요?")) {
                var uri = /*[[ @{/management/delete} ]]*/;
                var html = "";

                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="name" value="'+name+'" />';
                html += '</form>';

                $("body").append(html);
                document.dataForm.submit();
            }
        }

        function selectCustomer(id) {

            if (confirm("해당 고객으로 사고 접수 하시겠습니까?")) {
                var uri = /*[[ @{/receipt/selectCustomer} ]]*/;
                var html = "";

                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="id" value="'+id+'" />';
                html += '</form>';

                $("body").append(html);
                document.dataForm.submit();
            }
        }

        function updateSubinfo(id) {

            if (confirm("해당 가입을 승인 하시겠습니까?")) {
                var uri = /*[[ @{/uw/approve} ]]*/;
                var html = "";

                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="id" value="'+id+'" />';
                html += '</form>';

                $("body").append(html);
                document.dataForm.submit();
            }
        }
        /*[- end of function -]*/

        /*]]>*/
    </script>

</th:block>
</html>