<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <title>customerManage</title>
</head>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">고객 관리하기</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                        	<th>고객 ID</th>
                            <th>고객 이름</th>
                            <th>성별</th>
                            <th>전화번호</th>
                            <th>나이</th>
                            <th>정보 더 보기</th>                      
                        </tr>
                        </thead>
                        <tbody>
                        
                        <tr th:if="${not #lists.isEmpty( customerList )}" th:each="row : ${customerList}">
                            <td th:text="${row.customerID}"></td>
                            <td th:text="${row.customerName}"></td>
                            <td th:if="${row.gender == true}">남자</td>
                    		<td th:if="${row.gender == false}">여자</td>
                            <td th:text="${row.phoneNo}"></td>
                            <td th:text="${row.age}"></td>
                            <td align="center">
                       			<a type="button" class="btn-danger btn-sm btn-block" th:href ="@{/customer/customerInfo(customerID = ${row.customerID})}">이동</a>
                            </td>
                   
                        <tr th:unless="${not #lists.isEmpty( customerList )}">
                            <td colspan="10">조회된 결과가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
